{% extends "../home.twig" %}

{% block content %}

    <header class="gen_header">
        <div>General Info</div>
    </header>

    <div class="wrapper">
        <h1 class="sec_title"></h1>
    </div>
{% endblock %}