{% extends 'adminBase.twig' %}

{% block content %}
<header class="main_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Add Drug Component </h2>
    </div>
</header>

<div class="wrapper-form">
    <section id="about">
        <form class="post-forms" action="/admin/add/drug_component" method="POST" id="generic_drug_form">
            <input type="text" placeholder="Drug Component Name" name="comp_name" required/><br>
            <input type="submit" value="Add Drug Component" />
        </form>
    </section>
</div>

{% endblock %}