{% extends 'adminBase.twig' %}

{% block content %}
<header class="main_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Add Generic Drug </h2>
    </div>
</header>

<div class="wrapper-form">
    <section id="about">
        <form class="post-forms" action="/admin/add/generic_drug" method="POST" id="generic_drug_form">
            <input type="text" placeholder="Generic Drug Name" name="name" required/><br>
            <input type="submit" value="Add Generic Drug" />
        </form>
    </section>
</div>

{% endblock %}