{% extends 'adminBase.twig' %}

{% block content %}
<header class="main_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Welcome to Admin </h2>
    </div>
</header>

<div class="wrapper-content">
    <h3 class="sec_title ft-rw"> Admin Powers </h3>
    <p class="ft-lt">
        As an admin, only you are entitled to add generic drugs, drug components <br> and compostion of the generic drug in the database.
        Take full responsibility of what you do.
    </p>
</div>

{% endblock %}