{% extends 'base.twig' %}

{% block content %}
<header>
    <div class="bg-image">
        <!-- Fix form -->
        <h3 class="ft-rw">Medicines</h3>
        <h4 class="ft-rw">Search the generic medicine here</h4>
        <form action="/gen_drugs" method="get" id="search">
            <p>
                <input type="text" name="name" id="name_box">
                <input type="submit" name="info" value="Find">
                <br>
            </p>
        </form>
        <!-- Fix form -->
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h2 class="table-title ft-rw">{{ gen_drug.name }}</h2>
        <table>
            <tr class="table-head ft-rw">
                <th> Component Name </th>
                <th> Percent Composition</th>
            </tr>
            {%  for row in comp %}
            <tr>
                <td> {{ row.comp_name }} </td>
                <td> {{ row.percent }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}