{% extends 'base.twig' %}

{% block header %}
{% include 'shopNav.twig' %}
{% endblock%}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h2 class="ft-rw"> FeedBacks </h2>
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h2 class="sec_title ft-rw">List of All FeedBacks</h2>
        {% if shops is not null %}
        <table>
            <tr class="table-head ft-rw">
                <th> Sl. No. </th>
                <th> Comment </th>
                <th> Rating </th>
                <th> Link </th>
            </tr>
            {% for row in shops %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ row.comment }}</td>
                <td> {{ row.rating }}</td>
                <td> <a href="/order/{{ row.order_id }}"><span class="detail-button fc-white txt-sb">Link</span></a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </section>
</div>
{% endblock %}