{% extends 'base.twig' %}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h1 class="ft-rw"> Create Shop </h1>
    </div>
</header>

<div class="wrapper">
    <section id="about">
        <form action="/account/add_drug" method="POST" id="drug_form">
            <input type="text" placeholder="Name"  name="name"/><br>
            <input type="text" placeholder="Manufacturer Name"  name="mf_name"/><br>

            <input type="checkbox" name="is_generic" value="1">Is Generic ?</input>
            <br>
            <select name="gen_id" id="gen_name">
                {% for row in gen_drugs %}
                    <option value="{{ row.gen_id }}">{{ row.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add Drug" />
        </form>
    </section>
</div>
{% endblock %}

