{% extends 'base.twig' %}

{% block header %}
{% include 'shopNav.twig' %}
{% endblock%}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h1 class="ft-rw"> Create Shop </h1>
    </div>
</header>

<div class="wrapper-form">
    <section id="about">
        <form class="post-forms" action="/account/{{ shop_id }}/inventory/add" method="POST" id="inventory_form">
            <select name="drug_id" id="drug_name" onchange="getBatchNo()" required>
                {% for row in drugs %}
                <option value="{{ row.drug_id }}">{{ row.name }}</option>
                {% endfor %}
            </select><br>

            <select name="batch_no" id="batch_no" onchange="setBatchID()" required></select><br>
            <input type="hidden" name="batch_id" id="batch_id"/>

            <input type="text" placeholder="Quantity"  name="quantity" required/><br>
            <input type="text" placeholder="Price"  name="price" required/><br>
            <input type="submit" value="Add Item" />
        </form>
    </section>
</div>

<script>
    function setBatchNo(batch_nos) {
        var i;
        var opts="<option value=\"-1\" > -- </option>";
        console.log(batch_nos.length)
        for(i=0; i<batch_nos.length; i++){
            opts += "<option value=" + batch_nos[i] +  ">" + batch_nos[i] + "</option>"
        }
        $("#batch_no").html(opts);
    }

    function getBatchNo() {
        $.ajax({
            url:"/api/get/batch_nos",
            type:"get",
            data:{
                drug_id: $('#drug_name').children("option:selected").val()
            },
            success: function(data, status, xhr){
                console.log(data);
                console.log(typeof data);
                setBatchNo(data);
            }
        })
    }

    function setBatchID() {
        $.ajax({
            url:"/api/get/batch_id",
            type:"get",
            data:{
                drug_id: $('#drug_name').children("option:selected").val(),
                batch_no: $('#batch_no').children("option:selected").val()
            },
            success: function(data, status, xhr){
                console.log(data);
                console.log(typeof data);
                $('#batch_id').attr('value',data);
            }
        })
    }
</script>
{% endblock %}

