{% extends 'base.twig' %}

{% block content %}
<header>
    <div class="bg-image">
        <!-- Fix form -->
        <h3 class="ft-rw">Medicines</h3>
        <h4 class="ft-rw">Search the generic medicine here</h4>
        <form action="/gen_drugs" method="get" id="search">
            <p>
                <input type="text" name="name" id="name_box">
                <input type="submit" name="info" value="Find">
                <br>
            </p>
        </form>
        <!-- Fix form -->
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h2 class="table-title ft-rw">List of all generic medicines</h2>
        <table>
            <tr class="table-head ft-rw">
                <th> Name </th>
                <th> Link </th>
            </tr>
            {% for row in drugs %}
            <tr>
                <td>{{ row.name }}</td>
                <td><a href="/gen_drug/{{ row.gen_id }}"><span class="detail-button fc-white txt-sb"> View Drug </span></a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}