{% extends 'base.twig' %}

{% block content %}
    <header class="main_header">
        <div class="bg-image">
            <h1 class="ft-rw"> GenMed </h1>
            <h3 class="ft-rw"> Easy Pharma Solution </h3>
        </div>
    </header>

    <div class="wrapper-content">
        <section id="about">
            <h1 class="sec_title ft-rw"> About Us </h1>
            <div class="text-body">
                <p>
                    <span class="ft-lt">
                        This project is made with a simple aim in the mind - to make healthcare services affordable.<br>
                        GenMed-Project is aimed at connecting the generic medicine shops to the consumers.
                        There are many generic medicine shops in each city some owned and run by the govt. and other by individuals
                        But people don't know about these stores and thus this alternative to high cost medications never strikes in their mind
                        Here what i have tried to done is to make a web app that helps people find information related to generic
                        medicine - like their branded names, shops which keep generic medicine and helps locate nearby shops where
                        a particular generic medicine is available. <br><br>
                    </span>
                </p>
                <p>
                    <span class="ft-lt">
                        A generic medicine is a medication created to be the same as an already
                        marketed brand-name drug in dosage form, safety, strength, route of
                        administration, quality, performance characteristics, and intended use.
                        These similarities help to demonstrate bioequivalence, which means
                        that a generic medicine works in the same way and provides the same
                        clinical benefit as its brand-name version. In other words, you can
                        take a generic medicine as an equal substitute for its brand-name counterpart.
                    </span>
                </p>
                <p>
                    <span class="ft-lt">
                        But due to lack of awareness in our society most people don't know about generic medicines.
                        Although it doesn't matter for the people who are well off but for the lower section of society
                        who often give up on healthcare and treatment due to the high cost of medication and equipments
                        these medicines can be a life saver.
                    </span>
                </p>
            </div>
        </section>

        <section id="contact">
            <h1 class="sec_title ft-rw"> Contact Details </h1>
            <div class="text-body">
                <p>
                    <span>
                        Just to keep this platform a safe  alternative for selling generic medicines
                        we prohibit any user from entering details about any new generic medicine by themselves.
                        So, in case if you want any generic drug to be added to the list please contact us using
                        the following means. Moreover, if you have any other query or complaint feel free to contact
                        us.
                    </span>
                </p>
                <p>
                    <span><b> Email : genmed.spring@gmail.com </b><br></span>
                    <span><b> Phone No :  +91 9671235280 </b> <br></span>
                </p>
            </div>
        </section>
    </div>
{% endblock %}