{% block nav %}
<nav class="menu navbar navbar-expand-md sticky-top bg-dark" id="navigation">

    <a href="#" class="navbar-brand txt-bd ft-rw fc-white" id="home-link">GenMed</a>

    <div class="collapse navbar-collapse">
    <ul class="navbar-nav navbar-left txt-bd ft-bd" id="left-nav">
        <div class="dropdown">
            <li class="nav-item dropdown"><a href="#" class="nav-link fc-white">Medicines</a></li>
            <div class="dropdown-content">
                <a href="/drugs">Branded</a>
                <a href="/gen_drugs">Generic</a>
            </div>
        </div>
        <li class="nav-item"><a href="/shops" class="nav-link fc-white">Marketplace</a></li>
        {% if user_email is null %}
        <li class="nav-item"><a href="/login" class="nav-link fc-white">Login</a></li>
        <li class="nav-item"><a href="/register" class="nav-link fc-white">Register</a></li>
        {% else %}
        <div class="dropdown">
            <li class="nav-item"><a href="/self/profile" class="nav-link fc-white">{{ user_email }}</a></li>
            <div class="dropdown-content">
                <a href="/self/profile">Profile</a>
                <a href="/self/orders">Orders</a>
                <a href="/self/shops">Shops</a>
            </div>
        </div>
        <li class="nav-item"><a href="/logout" class="nav-link fc-white">Logout</a></li>
        {% endif %}

        <li class="nav-item"><a href="/search" class="nav-link fc-white">Search</a></li>
    </ul>
    </div>
</nav>
{% endblock %}