{% extends 'base.twig' %}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h1 class="ft-rw"> Add Phone Number </h1>
    </div>
</header>

<div class="wrapper">
    <section id="about">
        <form action="/self/add_phone" method="POST" id="phone_form">
            <input type="text" placeholder="Phone No." name="phone_no"/><br>
            <input type="submit" value="Add Phone No" />
        </form>
    </section>
</div>
{% endblock %}

